 body {
    margin: 0;
    overflow: hidden; /* Скрываем полосы прокрутки */
    background-color: #00001a; /* Глубокий синий цвет для ночного неба */
    font-family: 'Arial', sans-serif;
}

#scene-container {
    width: 100vw;
    height: 100vh;
}

/* Стили для модального окна */
.modal {
    display: none; 
    position: fixed; 
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.7); 
    padding-top: 50px;
}

.modal-content {
    background-color: #1a1a2e; /* Темный фон для контраста */
    margin: 5% auto; 
    padding: 30px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
    color: #f0f0f0;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
